* {
  box-sizing: border-box;
}

.board {
  display: inline-grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.square {
  display: flex;
  border: 1px solid black;
  font-family: cursive;
  font-size: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.o {
  background-color: fuchsia;
}

.x {
  background-color: aqua;
}
